<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="myCtrl" ng-init="item2 = 'variable 2'">
   <!-- <p ng-click="setItem2(1)" ng-class="{red: showP2}">{{item}}</p>
    <p ng-click="setItem2(2)" ng-hide="showP2">{{item2}}</p>
    <input type="text" ng-model="item2">
    <input type="checkbox" ng-model="showP2">-->
    
    <h1>{{priceTitle}} от {{priceDate | date: 'shortDate'}}</h1>
    <p>
        <span>Поиск</span>
        <input type="text" ng-model="priceSearch" class="form-control search">
    </p>
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th ng-click="setOrder('name')">Наимеенование</th>
                <th ng-click="setOrder('price')">Цена</th>
                <th ng-click="setOrder('discount')">Скидка</th>
                <th>Цена со скидкой</th>
                <th>Изображение товара</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in pricelist | filter:priceSearch | orderBy:priceOrder" ng-class="[{disc: price.discount}, {reverse:reverse}]">
                <th>{{$index + 1}}</th>
                <th>{{price.name}}</th>
                <th>{{price.price | currency}}</th>
                <th>{{price.discount}}</th>
                <th>{{price.price*(1-price.discount) | currency}}</th>
                <th><img ng-src="{{price.cart}}" class="size"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>
